html {
    /* background-color: #0CA2CD !important; */
    /* background-color: #0CA2CD3E !important; */
    /* background-color: #0eb9e91c !important; */
    background-color: #0CA2CC !important;

}

body{
    background-color: #0CA2CC !important;

}

.MuiAppBar-root {
    background-color: #0B6D98 !important;
}

.MuiToolbar-root {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;

}

.MuiTypography-root.MuiTypography-h6.MuiTypography-noWrap {
    display: flex;
    align-items: center;
}

.Search {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.Search div {
    margin-left: auto;
    display: flex;
    align-items: center;
}


.Search .MuiInputBase-input MuiOutlinedInput-inputMuiFormControl-root {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.MuiOutlinedInput-input {
    padding: 10.0px 10px !important;
    outline: red;
}

/* .MuiInputLabel-outlined {
    transform: translate(0.9rem, 0.8rem) scale(1) !important;
    pointer-events: none;
} */

.Main_Page {
    color: #fff !important;
}

/* #757575 */
.Songs_List {
    color: #fff !important;
}

.Songs_List h1 {
    color: #757575 !important;
    padding-left: 1rem;
}

.Songs_List .MuiButtonBase-root.MuiButton-root.MuiButton-text .MuiButton-label {
    color: #757575 !important;
}

/* .Songs_List */
.MuiContainer-maxWidthLg {
    /* max-width: 11280px !important; */
    max-width: 1200px !important;
    /* max-width: 150px !important; */
}

.Songs_List .MuiGrid-container {
    /* width: 100%; */
    display: flex;
    /* flex-wrap: wrap; */
    /* box-sizing: border-box; */
    /* flex-direction: column; */
}

/* pagination */
.Songs_List .MuiStack-root.css-1sazv7p-MuiStack-root {
    margin-top: 1rem;
}

/* pagination */
.css-wjh20t-MuiPagination-ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
}

.MuiContainer-root {
    /* background-color: #b53f3f !important; */
    /* background-color: rgba(12,162,205,0.5)  !important; */
    /* background-color: #0eb9e91c !important; */
    background-color: #0CA2CC !important;
    /* #0CA2CD3E */
}

.MuiContainer-root.MuiContainer-maxWidthLg {
    /* background-color: #0CA2CD3E !important; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* display: flex; */
    margin-left:  auto !important;
    margin-right:  auto !important;
}

.MuiBox-root-5 {
    padding: 1rem !important;
}

.MuiBox-root-6 {
    padding: 1rem !important;
}

.MuiPaper-root {
    /* color: rgba(0, 0, 0, 0.87); */
    /* transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
    /* background-color: #0CA2CD3E !important; */

}

.MuiPaper-root.MuiCard-root.TrackItem_track__pIAvY.MuiPaper-elevation1.MuiPaper-rounded {
    /* background-color: #0CA2CD3E !important; */
    /* background-color:  #0CA1CB !important; */
    background-color: #0CA2CC !important;
    color: #fff !important;
    min-width: 0 !important;

    /* #0CA1CB */
}

/* DOWNLOAD */
.MuiStepper-horizontal {
    /* width: 100%; */
    /* background-color: #b53f3f; */
}

/* DOWNLOAD */
.MuiStepper-horizontal .MuiStepLabel-root {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* DOWNLOAD */
.MuiStepper-horizontal .MuiTypography-displayBlock {
    text-align: center;

}
/* DOWNLOAD */
.MuiStepper-horizontal .MuiButton-root {
    /* color: #fafafa; */
}



.MuiPaper-root.MuiStepper-root.MuiStepper-horizontal.MuiPaper-elevation0 {
    /* background-color: #b53f3f; */
    /* width: 100%; */


}





/* .MuiGrid-root.MuiGrid-container.MuiGrid-direction-xs-column {
    width: 100%;

} */



.TrackItem .MuiIconButton-root {
    color: #fff !important;
}



.MuiButton-containedPrimary {
    color: #fff;
    background-color: #b53f3f !important;
    /* background-color: #3f51b5; */
}

/* .TrackItem */
.MuiBox-root.MuiBox-root-8 {
    width: 100%;
}

.TrackItem img {
    width: 4.5rem !important;
    height: 4.5rem;
}

/* .TrackItem
.MuiContainer-maxWidthLg {
    max-width: 11280px !important;
} */



.Song_Page {
    /* background-color: #b53f3f !important; */
    background-color: #0CA2CC !important;
    color: #ffffff;

}

.Song_Page .MuiButton-root {
    color: #ffffff !important;
}

.Song_Page .custom-textfield-input {
    color: red;
}

.custom-textfield-input {
    color: red;
}

/* .Player  */
.Player_player__gTFJm .MuiGrid-container {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.playbutton_name_volume {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    flex-wrap: wrap;
}

.time_progress {
    width: 100%;
}

.time_progress input {
    width: 90%;
}

.volume_progress {
    display: flex;
    margin-left: auto;

}

.volume_progress .nuber_current__and_all {
    width: auto;
    /* width: 4rem; */
    /* font-size: 0.8rem; */
    /* background-color: #b53f3f; */
    /* display: flex; */
    /* flex-direction: column; */
}