html {
    /* background-color: #0CA2CD !important; */
    /* background-color: #0CA2CD3E !important; */
    /* background-color: #0eb9e91c !important; */


}

body {
    background-color: #0CA2CC !important;

    /* background-image: url('../images/photo_2024-07-30_16-37-00.jpg'); */
    background-image: url('../images/photo_2024-08-03_14-41-11.jpg');
    background-size: cover;
    /* Або інше значення в залежності від ваших потреб */
    background-repeat: no-repeat;
    /* Фон не повторюється */
    background-attachment: fixed;
    /* Фон залишається нерухомим при прокручуванні сторінки */
    /* background-position: center 4rem; */
    /* Центрування фону */
    background-position: center 0rem;

    /* height: 100vh;  */

}

/* background-color: #0ca2cc57 !important; */

/*  */
.MuiPaper-root {
    color: rgb(255, 255, 255) !important;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #ffffff00 !important;
}

.MuiInputBase-input {
    color: white !important;
}

.MuiContainer-root.MuiContainer-maxWidthLg
{
    margin: 6rem 0 9.0rem 0 !important;
}



/* Header AppBar ToolBar */
.MuiAppBar-root {
    /* background-color: #0B6D98 !important; */
}

.MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #ffffff00 !important;
}

.MuiToolbar-root {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-wrap: wrap;
}

.MuiToolbar-regular {
    min-height: 4rem !important;
}

.MuiTypography-root.MuiTypography-h6.MuiTypography-noWrap {
    display: flex;
    align-items: center;
}

/* Menu Drawer */
.MuiDrawer-root.MuiDrawer-docked .MuiPaper-root {
    color: rgb(255, 255, 255) !important;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    /* background-color: #ffffff00 !important; */
    background-color: #0b6d98b3 !important;
}

/* Menu Drawer icons*/
/* .MuiDrawer-root.MuiDrawer-docked .MuiPaper-root  */
/* .MuiListItemIcon-root { */
/* color: rgb(255, 255, 255); */
/* } */
.MuiDrawer-root.MuiDrawer-docked .MuiPaper-root .MuiSvgIcon-root {
    color: rgb(255, 255, 255);
}




/* Search */
.Search {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.Search div {
    margin-left: auto;
    display: flex;
    align-items: center;
}


.Search .MuiInputBase-input MuiOutlinedInput-inputMuiFormControl-root {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

/* header .MuiButton-containedPrimary { */
.AddSong header .MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
    color: #fff;
    background-color: #b53f3f !important;
    /* background-color: #3f51b5; */
}

header .MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
    color: #fff;
    background-color: #b53f3f !important;
    /* background-color: #3f51b5; */
}

/* ResultOfSearch */
.ResultOfSearch h1 {
    color: #757575;
    margin: 0 auto;

}

.MuiOutlinedInput-input {
    padding: 10.0px 10px !important;
    outline: red;
}

/* .MuiInputLabel-outlined {
    transform: translate(0.9rem, 0.8rem) scale(1) !important;
    pointer-events: none;
} */







.Main_Page {
    color: #fff !important;
}

/* #757575 */
.Songs_List {
    color: #fff !important;
}

.Songs_List h1 {
    /* color: #757575 !important; */
    padding-left: 1rem;
}

.Songs_List .MuiButtonBase-root.MuiButton-root.MuiButton-text .MuiButton-label {
    color: #ffffff !important;
}

/* .Songs_List */
.MuiContainer-maxWidthLg {
    /* max-width: 11280px !important; */
    max-width: 1200px !important;
    /* max-width: 150px !important; */
}

.Songs_List .MuiGrid-container {
    /* width: 100%; */
    display: flex;
    /* flex-wrap: wrap; */
    /* box-sizing: border-box; */
    /* flex-direction: column; */
}

/* pagination */
.Songs_List .MuiStack-root.css-1sazv7p-MuiStack-root {
    margin-top: 1rem;
}

/* pagination */
.css-wjh20t-MuiPagination-ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
}

.MuiContainer-root {
    /* background-color: #b53f3f !important; */
    /* background-color: rgba(12,162,205,0.5)  !important; */
    /* background-color: #0eb9e91c !important; */
    /* background-color: #0CA2CC !important; */
    /* #0CA2CD3E */
}

.MuiContainer-root.MuiContainer-maxWidthLg {
    /* background-color: #0CA2CD3E !important; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* display: flex; */
    margin-left: auto !important;
    margin-right: auto !important;
}

.MuiBox-root-5 {
    padding: 1rem !important;
}

.MuiBox-root-6 {
    padding: 1rem !important;
}



.MuiPaper-root.MuiCard-root.TrackItem_track__pIAvY.MuiPaper-elevation1.MuiPaper-rounded {
    background-color: #0ca2cc57 !important;
    color: #fff !important;
    min-width: 0 !important;
}

/* DOWNLOAD */
.MuiStepper-horizontal {
    /* width: 100%; */
    /* background-color: #b53f3f; */
}

/* DOWNLOAD */
.MuiStepper-horizontal .MuiStepLabel-root {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* DOWNLOAD */
.MuiStepper-horizontal .MuiTypography-displayBlock {
    text-align: center;

}

/* AddSongDOWNLOAD */

.MuiGrid-root.MuiGrid-container.MuiGrid-justify-content-xs-center {
    margin: 3.0rem 0;
}

.AddSong .MuiPaper-root {
    /* color: rgb(255, 255, 255) !important; */
    background-color: #0ca2cc57 !important;
    /* transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
    /* background-color: #ffffff00 !important; */
}

.AddSong header.MuiPaper-root {
    /* color: rgb(255, 255, 255) !important; */
    background-color: #0ca2cc00 !important;
    /* transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
    /* background-color: #ffffff00 !important; */
}



.AddSong .MuiStepLabel-label.MuiStepLabel-active {
    color: rgb(255 255 255 / 87%) !important;
    font-weight: 500;
}

.AddSong .MuiFormLabel-root {
    color: rgb(255, 255, 255);
}

.AddSong .MuiButton-root {
    color: rgb(255, 255, 255) !important;
    background-color: #0ca2cc57 !important;
}

.AddSong .MuiInput-underline:before {
    border-bottom: 1px solid rgb(255, 255, 255) !important;
}

.AddSong .MuiButton-root.Mui-disabled {
    color: rgb(0, 0, 0) !important;
}

.AddSong .MuiSnackbar-anchorOriginBottomCenter {
    bottom: 8px;
    position: absolute;
    top: 6rem;
}

/* .AddSong .MuiPaper-root { */
/* color: rgb(255, 255, 255) !important; */
/* background-color: #0ca2cc57 !important; */
/* transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
/* background-color: #ffffff00 !important; */
/* } */











.TrackItem .MuiIconButton-root {
    color: #fff !important;
}



/* .MuiButton-containedPrimary { */
/* color: #fff; */
/* background-color: #b53f3f !important; */
/* background-color: #3f51b5; */
/* } */

/* .TrackItem */
.MuiBox-root.MuiBox-root-8 {
    width: 100%;
}

.TrackItem img {
    width: 4.5rem !important;
    height: 4.5rem;
}

/* .TrackItem
.MuiContainer-maxWidthLg {
    max-width: 11280px !important;
} */



.Song_Page {
    /* background-color: #b53f3f !important; */
    /* background-color: #0CA2CC !important; */
    color: #ffffff;

}

.Song_Page .MuiButton-root {
    color: #ffffff !important;
}

.Song_Page .custom-textfield-input {
    color: red;
}

.custom-textfield-input {
    color: red;
}

/* .Song_Page  */
/* input.MuiInputBase-input.MuiInput-input{ */
/* color: #fff !important; */
/* } */
/*  */
.Song_Page .MuiFormLabel-root {
    color: rgb(255, 255, 255);
}

/* .Player  */
.Player_player__gTFJm .MuiGrid-container {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.playbutton_name_volume {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    flex-wrap: wrap;
}

.time_progress {
    width: 100%;
}

.time_progress input {
    width: 90%;
}

.volume_progress {
    display: flex;
    margin-left: auto;

}

.volume_progress .nuber_current__and_all {
    width: auto;
    /* width: 4rem; */
    /* font-size: 0.8rem; */
    /* background-color: #b53f3f; */
    /* display: flex; */
    /* flex-direction: column; */
}

.Player_player__gTFJm {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #4d6c87c4 !important;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 10px;
    z-index: 1000;
    color: white;
}

.Player_player__gTFJm .MuiSvgIcon-root {
    fill: white;
}

.Player_player__gTFJm .MuiIconButton-label {
    border-radius: 50%;
    /* background-color: #b53f3fbd; */
    /* background-color: #7c4b4b; */

    /* padding: 0.3rem; */
    /* padding: 0.2rem; */
}

.Player_player__gTFJm .MuiIconButton-label .MuiSvgIcon-root {
    font-size: 1.9rem;
    font-size: 2.5rem;
    /* color: #b53f3f; */
    /* fill: #b53f3f; */
}

.Player_player__gTFJm .artist_Name {
    font-size: 0.66rem;
}