@media (max-width: 1400px) {
    .MuiContainer-maxWidthLg {
        /* max-width: 1000px !important; */
        /* margin: 0 auto; */
    }
    
}


@media (max-width: 550px) {
    /* html{ */
    /* font-size: 90%; */
    /* } */

    .Search {
        margin-left: 0.75rem;
        /* display: flex; */
        /* align-items: center; */
    }

    header {
        padding-bottom: 0.75rem !important;
    }

    .MuiBox-root-6 {
        padding: 0rem !important;
    }

    .MuiBox-root-5 {
        padding: 0rem !important;
    }

    .TrackItem_track__pIAvY {
        margin: 0.5rem !important;
        padding: 0.5rem !important;
        display: flex;
        align-items: center;
    }

    .time_progress input {
        width: 85%;
    }

    time_progress .nuber_current__and_all {
        width: 15%;
        font-size: 0.8rem;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 90%;
    }

    .Search {
        margin-left: 0.75rem;
        /* display: flex; */
        /* align-items: center; */
    }

    header {
        padding-bottom: 0.75rem !important;
    }
}